@{
    ViewBag.Title = "About our Project";
}
<h2 class="text-center">@ViewBag.Title</h2>


<div class="container">
    <h4 class="col-md-10 col-md-offset-1 text-center">
        During the past 4 months we have been introduced to the ASP.NET MVC framework using C#. The developed project is the fruit of our labor, our exam project, for the topic Web Development Environments.The project was assigned by the digital consultancy Eksponent.
    </h4>

    <p class="col-md-10 col-md-offset-1 text-center">Feel free to check the report, Git repository and requirements presentation below</p>
</div>




<div class="col-md-12 text-center">
    <a href="https://docs.google.com/document/d/1Z5wU1VfdkfSGES1QFRLBU3JrxRQxcRZRq1az8M6o9Do/edit?usp=sharing"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></a>

    <a href="https://github.com/ralfpatric/Exam_2016.git"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>

    <a href="https://docs.google.com/presentation/d/1BY-AmNq8-CKwZ0zQQkR8_RnCUrZyX1EGxpfYLGwb37c/edit?usp=sharing"><i class="fa fa-file-powerpoint-o fa-2x" aria-hidden="true"></i></a>
</div>

