@{
    ViewBag.Title = "Home Page";
}

<h2 class="page-title text-center">Role/Skills framework System</h2>

<div class="row gutter-top">
    <p class="col-md-10 col-md-offset-1 text-center">Over time we will accumulate experience in the roles we have. We learn as a second nature to see patterns and do things that just work. These patterns and best practices are something that we as workers need experience and guidance to discover.</p>
    <p class="col-md-3 col-md-offset-8"><i>Chrisitan Dalager, Eksponent </i></p>
</div>

<p class="row text-center gutter-top-half">
    The presented website was build in order to support this attempt, to create a platform for Company Administrators and Employees to better understand each others past, present and future roles. In order to use our platform please Register or Login. Once the registration process is complete you will be already logged in.
</p>

<p class="row text-center gutter-top-half">
    Once logged in, please proceed to the new "Company" menu element that came up in the upper menu-bar and assign yourself to the company you are working for. In case your company is not on the list of already registered companies and you are the creator of it, please register your company on our platform as well by clicking "Create New".
</p>

<p class="row text-center gutter-top-half">
    Once your company is registered on our platform or you have joined an existing company, head over to the "Roles" tab. Here you can see all the roles the company currently has or create a new role if it does not already have one. After all the members of the company have joined the same virtual company, the users are capable of editing their own profiles, assigning their past, present and future roles. The administrator can easily see an overview of all the employees and employees can easily check who else is working in the same field.
</p>

<p class="row text-center gutter-top">Enjoy!</p>