@model Exam_2016.Models.CompanyRole

@{
    ViewBag.Title = "Details";
}



<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Employee Name
        </th>
        <th>
            Employee Experience
        </th>
    </tr>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                @foreach (var itemj in item.PastRoles)
                {
                    if (itemj.CompanyRoleId == Model.CompanyRoleId)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => itemj.Name)
                        </td>
                    }
                    else
                    {
                        <td>
                            No Experience
                        </td>
                    }
                }
            </tr>
        }

</table>
