
@{
    ViewBag.Title = "CompanyDetails";
}

<h2>Edit Company</h2>

<p>Hello World!</p>

<div>
    @Html.ActionLink("Back to Home Page", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




